<ion-header>
  <ion-toolbar>
    <ion-title>OkodeFilm </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="term" (ionChange)="searchChanged($event)" placeholder="Buscar">
  </ion-searchbar>

  <ion-item>
    <ion-label>Tipo de busqueda</ion-label>
    <ion-select [(ngModel)]="type" (ionChange)="searchChanged($event)">
        <ion-select-option value="" selected="true">Todo</ion-select-option>
        <ion-select-option value="movie">Peliculas</ion-select-option>
        <ion-select-option value="series">Series</ion-select-option>
        <ion-select-option value="episode">Episodios</ion-select-option>
    </ion-select>
  </ion-item>


  <ion-card style="grid-column: 1; ">
    <ion-item button *ngFor="let pelicula of (results | async)" [routerLink]="['/', 'pelicula', pelicula.imdbID]">
      <ion-avatar slot="start">
        <img src="{{pelicula.Poster}}" alt="{{pelicula.Title}}" *ngIf="pelicula.Poster != 'N/A'">
      </ion-avatar>
      <ion-label text-wrap>
        <h3>{{pelicula.Title}}</h3>
        {{pelicula.Year}}
      </ion-label>
      <ion-icon slot="end" *ngIf="pelicula.Type === 'movie'" name="film-outline"></ion-icon>
      <ion-icon slot="end" *ngIf="pelicula.Type === 'series'" name="tv-outline"></ion-icon>
      <ion-icon slot="end" *ngIf="pelicula.Type === 'episode'" name="flash-outline"></ion-icon>
    </ion-item>
  </ion-card>

</ion-content>
